@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  outline: none;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0px;
}

.search {
  position: relative;
}

.btn {
  position: absolute;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(200px);
}
